body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    background: linear-gradient(270deg, #5b9be3, #82c7f7, #a9e0fb);
    background-size: 600% 600%;
    -webkit-animation: colorShift 10s ease infinite;
    animation: colorShift 10s ease infinite;
}

#projectTitle {
    padding: 0.5rem 0 2rem;
}

.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
}

.card-header-wrapper {
    overflow: hidden;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }

.card-header {
    padding: 1.3rem 1rem;
}

.backgroundEffect {
    background-color: #f5f5f580;
}

section {
    padding-bottom: 50px;
}

.stickyEffect {
    position: sticky;
    height: 100%;
    top: 0;
    z-index: 1;
}

.controlBtns {
    width: 35%;
}

.listStyle {
    position: relative;
    margin: 15px 25px 20px;
    padding: 15px 10px 15px 10px;
    list-style-type: none;
    cursor: pointer;
    box-shadow: 0px 2px 3px black;
}

.listStyle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #2196F3, #00BCD4, #2196F3);
    opacity: 0;
    transition: opacity 0.8s ease;
}

.listStyle:hover:before {
    opacity: 1;
}

.listStyle:active {
    transform: translateY(2px);
    color: white;
    background-image: linear-gradient(45deg, #0d6cb2, #0087a3, #0d6cb2);
    filter: brightness(0.8);
}

.listStyle span {
    position: relative;
}

.savedItem {
    width: 5rem;
}

#notification {
    font-style:italic;
    font-size: 14px;
}

.flashingEffect {
    background-image: linear-gradient(45deg, #FF0000, #FF3300, #FF6600, #FF9900, #FFCC00);
    animation: flashing 1s infinite ease-in;
    opacity: 0;
}

@-webkit-keyframes colorShift {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

@keyframes colorShift {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}


@keyframes flashing {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}