body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    /* background: linear-gradient(270deg, #4870c1, #bbbd56, #63c5ca); */
    background-size: 600% 600%;

    /* -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; */
}

#projectTitle {
    padding: 0.5rem 0 2rem;
}

.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-bottom: 50px;
}

.listStyle {
    margin: 25px 25px 25px;
}

/* @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */