body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    background: linear-gradient(270deg, #fbd3b4, #f9f29f, #a1c4fd);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

#projectTitle {
    padding: 0.5rem 0 2rem;
}

.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding-bottom: 50px;
}

.listStyle {
    margin: 15px 25px 20px;
    padding: 10px 5px 10px 5px;
    list-style-type: none;
}

.flashingEffect {
    color:red;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}